@import 'yc-style-guide/scss/variables', 'yc-style-guide/scss/elements/title', 'yc-style-guide/scss/utilities';

.candidate-details {
  padding-bottom: 3rem;
  font-family: $font-body;

  &__group {
    @include breakpoint(md) {
      margin-top: 3rem;
    }
  }

  .title:not(.card__title) {
    @include breakpoint('md') {
      margin-top: 0;
      font-size: 1.5rem;
    }
  }

  &__title {
    &--question {
      @include period(palette(brand), '?');
    }
  }
}
