$gutter-vertical: rem(30px);
$gutter-horizontal: rem(20px);

.card {
  margin-bottom: rem(20px);
  padding: $gutter-vertical $gutter-horizontal;
  border: 1px solid palette(grey, border);
  background-color: palette(white);
  font-size: rem(14px);
  box-shadow: 0 0 15px 0 rgba(0, 0, 0, .05);

  @include breakpoint(md) {
    margin: 0;
  }

  &--separator {
    position: relative;
    padding-bottom: $gutter-vertical;

    &::after {
      position: absolute;
      bottom: 0;
      left: -12px;
      width: calc(100% + 24px);
      border-bottom: 1px solid palette(grey, border);
      content: '';
    }

    &:last-child {
      padding-bottom: 0;

      &::after {
        border-bottom: 0;
      }
    }
  }

  &__cols {
    @include clearfix;
  }

  &__row {
    margin-bottom: rem(20px);

    @include breakpoint(sm) {
      margin-bottom: rem(30px);
    }

    &:last-child {
      margin-bottom: 0;

      @include breakpoint(sm) {
        margin-bottom: 0;
      }
    }

    // .5rem is the margin form__tags have and they are an indefinite
    //  number of items in one row, so we can't rely on their styling
    &--tags {
      @include breakpoint(sm) {
        margin-bottom: rem(30px) - .5rem;
      }

      &:last-child {
        @include breakpoint(sm) {
          margin-bottom: -.5rem;
        }
      }
    }
  }

  &__image {
    position: absolute;
    top: 0;
    left: 50%;
    width: auto;
    max-width: none;
    height: 100%;
    margin: auto;
    transform: translateX(-50%);
  }

  &__figure {
    position: relative;
    overflow: hidden;
    width: rem(100px);
    height: rem(120px);
    margin: 0 0 rem(10px);
  }

  &__title {
    margin-top: 0;
    font-size: 1.1rem;
  }

  &__n-a {
    color: palette(grey, text);
  }

  &__icon-check {
    position: relative;
    top: 2px;
    margin-right: rem(5px);
    font-size: rem(22px);
    vertical-align: middle;
  }

  .text--validation {
    margin: 1px 0; // this sets mt to 15 and mb to 20
  }
}
