.degree {
  &__remove-block {
    text-align: right;

    @include breakpoint(sm) {
      position: absolute;
      right: rem(-135px);
      bottom: rem(30px);

      &:nth-child(2) {
        top: auto;
        bottom: rem(5px);
      }
    }
  }

  &__remove-btn {
    padding: 0;
    border: 0;
    outline: 0;
    background: transparent;
    color: palette(grey, tertiary);
    font-family: $font-body;
    letter-spacing: rem(.1px);
    text-decoration: none;
  }

  &__remove-btn-icon {
    font-size: rem(12px);
    vertical-align: middle;
  }
}
