$inputfield-height: rem(48px);

.form {
  position: relative;
  margin-top: 10px;

  @include breakpoint(sm) {
    margin-top: -10px;
  }

  &__label {
    font-weight: 600;
  }

  &__required-field {
    &::after {
      margin-left: 5px;
      padding: 2px 5px;
      content: '*';
      background: palette(grey, border);
      color: palette(grey, placeholder);
      font-size: .6rem;
    }
  }

  &__tag {
    display: inline-block;
    margin: 0 .5rem .5rem 0;
    padding: .4375rem .87rem;
    background-color: palette(grey, light);
    color: palette(black);
    text-decoration: none;

    &:last-of-type {
      margin-right: 0;
    }
  }

  .input {
    &::after {
      top: 12px;
    }
  }

  &__input {
    display: flex;
    min-height: $inputfield-height;
    flex-direction: row;
    justify-content: space-between;

    .form__label {
      margin-bottom: 10px;

      @include breakpoint(sm) {
        margin-bottom: 0;
      }
    }
  }

  &__btn-edit {
    @extend %base-hover;
    position: absolute;
    top: rem(10px);
    right: 0;
    z-index: 2;
    margin: 0;
    padding: rem(20px);
    border: 0;
    outline: 0;
    background-color: transparent;
  }

  &__job-experience-block {
    @include breakpoint(md) {
      position: absolute;
      right: -100px;
      bottom: 97px;
    }
  }

  &__job-experience-remove {
    color: palette(grey, text);
    font-weight: normal;
    text-decoration: none;

    span {
      font-size: 1.6rem;
      font-weight: bold;
      vertical-align: sub;
    }
  }
}
