.header {
  display: none;
  background-image: url('../assets/header.jpg');
  background-position: center center;

  &__sub-head {
    margin-top: 0;
    font-size: 2rem;
  }
}

@media screen and (min-width: 767px) {
  .header {
    display: block;
  }
}
