.job-list {
  margin: 30px auto;

  &__link {
    color: currentColor;
    text-decoration: none;
  }

  &__item {
    transition: background-color $transition-time;

    &:hover {
      background-color: palette(grey, light);
    }

    &--top {
      &:hover {
        background-color: lighten(palette(brand), 10%);
      }
    }
  }
}
