.spinner {
  position: fixed;
  top: 50%;
  z-index: 10;
  width: 100%;
  height: 100%;
  text-align: center;

  &::before {
    position: fixed;
    top: 0;
    display: block;
    width: 100%;
    height: 100%;
    content: '';
    background-color: rgba(255, 255, 255, .7);
  }

  > div {
    display: inline-block;
    width: 18px;
    height: 18px;
    margin: 0 5px;
    border-radius: 100%;
    background-color: palette(brand);
    animation: sk-bouncedelay 1.4s infinite ease-in-out both;
  }

  .bounce1 {
    animation-delay: -.32s;
  }

  .bounce2 {
    animation-delay: -.16s;
  }
}

@keyframes sk-bouncedelay {
  0%, 80%, 100% {
    -webkit-transform: scale(0);
    transform: scale(0);
  }

  40% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}
