.photo-editor {
  margin-top: rem(10px);

  &__preview {
    position: relative;
    width: 100%;

    @include breakpoint(sm) {
      padding-bottom: 120%;
    }
  }

  &__image {
    margin: 0 auto;

    @include breakpoint(sm) {
      position: absolute;
      top: 0;
      right: 0;
      left: 0;
      margin: auto;
    }
  }

  &__field {
    margin-top: 1rem;

    @include breakpoint(sm) {
      margin-top: auto;
    }
  }

  &__cropper-placeholder {
    display: flex;
    width: 100%;
    height: 100%;
    min-height: 320px;
    background-color: palette(grey, background);
    flex-flow: row wrap;
    align-items: center;
    justify-content: center;
  }

  &__copper-placeholder-container {
    width: 90%;
    max-width: rem(210px);
  }
}
