$popup-body-padding: 73px;
// 350ms because we have to wait for animation to end before it removes blur
$total-popup-animation-t: 350ms;

// When modal is open
.blur-wrapper {
  transition-delay: $total-popup-animation-t;
}

.ReactModal {
  &__Body {
    &--open {
      overflow: hidden;

      .blur-wrapper {
        filter: blur(25px);
        transition-delay: 0s;
      }

      .new-candidate-profile {
        display: none;
      }
    }
  }

  &__Overlay {
    visibility: hidden;
    opacity: 0;
    transition: opacity .25s cubic-bezier(.5, 0, .5, 1) 0s, visibility linear .35s;

    &--after-open {
      visibility: visible;
      opacity: 1;
      transition-delay: 0s;
      overflow-y: auto;
    }
  }
}

.popup {
  padding: rem(16px);
  font-family: $font-body;
  font-size: rem(14px);

  &--appear {
    visibility: visible;

    .popup__body {
      animation: popupComeIn .25s cubic-bezier(.5, 0, .5, 1) forwards;
    }
  }

  /**
  * Maarten Knijnenberg - Sept 2017
  * I removed the close animation for the popup.
  * I commented it out, because it will be restored before the launching of this product.
  * animation: popupHeadOut .35s cubic-bezier(.5, 0, .5, 1) forwards;
  */
  &--leave {
    .popup__body {
      animation: none;
    }
  }

  &__title {
    margin: 0;
    font-size: rem(24px);
    line-height: 1;
  }

  &__body {
    position: relative;
    padding: 0 0 rem(60px);

    @include breakpoint(sm) {
      padding: 0 rem(20px) rem(60px);
    }

    @include breakpoint(md) {
      padding: rem($popup-body-padding) 0;
    }
  }

  &__box {
    position: relative;
    margin-top: 15px;
    margin-bottom: 15px;
    padding-bottom: 15px;
    border-bottom: 1px solid palette(grey, border);

    &:first-child {
      margin-top: 0;
    }

    &--no-line {
      border-bottom: 0;
      padding-bottom: 0;
    }

    &:nth-last-child(2) {
      border-bottom: 0;
    }

    &--driving {
      margin-top: rem(50px);
    }
  }

  &__submit-box {
    padding-top: rem(20px);
    border-top: rem(1px) solid palette(grey, border);
    text-align: right;
  }

  .btn--modal {
    width: 100%;

    @include breakpoint(sm) {
      width: rem(300px);
    }
  }

  &__close {
    position: absolute;
    top: rem(-6px);
    right: 0;

    @include breakpoint(sm) {
      top: rem(5px);
    }
  }

  &__btn-close {
    margin: 0;
    padding: rem(10px) 0;
    border: 0;
    outline: 0;
    background-color: transparent;
    color: palette(grey, tertiary);
    font-size: rem(15px);
    text-decoration: none;

    @include breakpoint(sm) {
      font-size: em(28px);
    }

    &:hover {
      color: palette(grey, text);
    }
  }
}

.save-button {
  margin: 0; // row sets margin left/right to -.5rem
  border-top: 1px solid palette(grey);
}

@keyframes popupComeIn {
  0% {
    visibility: hidden;
    opacity: 0;
    transform: scale(.8, .8);
  }

  65.5% {
    transform: scale(1.03, 1.03);
  }

  100% {
    visibility: visible;
    opacity: 1;
    transform: scale(1, 1);
  }
}

@keyframes popupHeadOut {
  0% {
    visibility: visible;
    opacity: 1;
    transform: translateY(0) scale(1, 1);
  }

  60% {
    transform: translateY(35px) scale(.97, .97);
  }

  100% {
    visibility: hidden;
    opacity: 0;
  }
}
