.resume {
  &__upload-field {
    width: 100%;

    @include breakpoint(sm) {
      width: auto;
    }
  }

  &__file {
    display: inline-block;
    margin-bottom: 1.25rem;
    padding: .625rem 1.5625rem .625rem 0;
    border-bottom: 2px solid palette(black, true);
  }
}
