%calendar-vertical-nav {
  top: 0;
  padding: 5px 0;
}

.react-datepicker-wrapper {
  display: block;
}

.react-datepicker {
  border-radius: 0;
  font-family: inherit;
  text-transform: capitalize;

  &__header {
    background-color: palette(grey, light);
  }

  &__day {
    border-radius: 0;

    &:hover {
      border-radius: 0;
      background-color: palette(grey, light);
    }

    &--selected {
      background-color: palette(brand);

      &:hover {
        background-color: rgba(palette(brand), .9);
      }
    }
  }

  &__input-container {
    display: block;
  }

  &__header__dropdown {
    margin: 1em 0;
  }

  // Year and Month Dropdowns
  &__year-read-view--down-arrow,
  &__month-read-view--down-arrow {
    top: 1px;
    margin-left: 30px;
    border: 0;

    &::before {
      @extend %nyc-icon;
      z-index: 0;
      border: 0;
      content: '\EA02';
    }
  }

  &__year-dropdown,
  &__month-dropdown {
    border-radius: 0;
    background-color: palette(grey, light);
  }

  &__year-option,
  &__month-option {
    &:hover {
      background-color: palette(white);
    }

    &:last-of-type,
    &:first-of-type {
      border-radius: 0;
    }

    &--selected {
      font-size: 0;
      @extend %nyc-icon;
      @extend %nyc-icon-check;

      &::before {
        font-size: rem(14px);
      }
    }
  }

  // Navigation
  &__navigation {
    @extend %nyc-icon;
    @extend %nyc-icon-arrow-right;
    width: auto;
    border: 0;
    line-height: 1;

    &::before {
      display: block;
    }

    &--previous {
      &::before {
        transform: rotate(180deg);
      }
    }

    &--years-upcoming {
      @extend %calendar-vertical-nav;

      &::before {
        transform: rotate(-90deg);
      }
    }

    &--years-previous {
      @extend %calendar-vertical-nav;

      &::before {
        transform: rotate(90deg);
      }
    }
  }
}


.react-datepicker-popper[data-placement^="bottom"] .react-datepicker__triangle {
  border-bottom-color: palette(grey, light);
}
