$inputfield-height: rem(45px);

.Select {
  &-control {
    height: $inputfield-height;
    border: 1px solid palette(grey, border);
    border-radius: 0;
    outline: none;

    &:hover {
      border: 1px solid palette(grey, tertiary);
      box-shadow: 0;
    }
  }

  &-input {
    height: $inputfield-height;

    > input {
      line-height: 2em;
    }
  }

  &.is-focused {
    > .Select-control {
      border: 1px solid palette(black);
      box-shadow: 0;
    }

    > .Select-menu-outer {
      border-right: 1px solid palette(black);
      border-bottom: 1px solid palette(black);
      border-left: 1px solid palette(black);
    }
  }
}

.Select-menu-outer {
  border-radius: 0;
}

.Select-placeholder,
.Select--single > .Select-control .Select-value {
  line-height: $inputfield-height;
}

.Select-option {
  &:last-child {
    border-radius: 0;
  }

  &.is-selected {
    background-color: rgba(palette(brand), .5);
    color: palette(white);
  }

  &.is-focused {
    background-color: palette(brand);
    color: palette(white);
  }
}
