.base {
  &__link {
    @extend %base-hover;
    color: palette(black);
    font-weight: bold;
  }

  &--inline {
    .base__block {
      display: inline-block;
      margin: 1em;

      &:first-child {
        margin-left: 0;
      }
    }
  }

  &__block {
    display: block;

    &--max-width {
      width: 100%;

      @include breakpoint(sm) {
        max-width: rem(262px);
      }
    }

    &--spaced {
      margin-top: 1em;
      margin-bottom: 1em;
    }

    &--spaced-top {
      margin-top: 1em;
    }

    &--spaced-bottom {
      margin-bottom: 1em;
    }

    &--sd {
      margin-top: 2em;
      margin-bottom: 2em;
    }

    &--sd-top {
      margin-top: 2em;
    }

    &--sd-bottom {
      margin-bottom: 2em;
    }
  }
}
