.bg {
  background-color: palette(white);
  @each $p-key, $palette in $palettes {
    @each $c-key, $color in $palette {
      &--#{$p-key}-#{$c-key} {
        background-color: $color;
      }
    }
  }
}

.color {
  color: palette(white);
  @each $p-key, $palette in $palettes {
    @each $c-key, $color in $palette {
      &--#{$p-key}-#{$c-key} {
        color: $color;
      }
    }
  }
}
