@import 'yc-style-guide/scss/variables', 'yc-style-guide/scss/utilities', 'yc-style-guide/scss/grid';

.container-fluid {
  padding-right: 1rem;
  padding-left: 1rem;

  @include breakpoint(sm) {
    padding-right: 2rem;
    padding-left: 2rem;
  }
}

.container-sm {
  @extend .container;
  padding-right: 0;
  padding-left: 0;

  @include breakpoint(sm) {
    padding-right: 2rem;
    padding-left: 2rem;
  }
}
